<p-card
    header="Take Survey"
    subheader="{{ _survey?.name }}"
    [style]="{
        width: '100%',
        height: '100%'
    }"
    styleClass="p-card-shadow"
>
    <p>{{ _survey?.desc }}</p>
    <h6>Pass score <p-badge value="{{ _survey?.passScore }}%"></p-badge></h6>
    <h4>Question</h4>
    <p>{{ selectedQuestion?.question }}</p>
    <ng-template pTemplate="footer">
        <button
            pButton
            pRipple
            label="Cancel"
            icon="pi pi-check"
            class="p-button-primary"
            (click)="cancel()"
        ></button>
    </ng-template>
</p-card>
