<p-card
    header="Take Survey"
    [style]="{
        width: '100%',
        height: '100%'
    }"
    styleClass="p-card-shadow"
>
    <h4 class="text-primary-app">{{ _survey?.name }}</h4>
    <p class="text-wrap text-break">{{ _survey?.desc }}</p>
    <h6 class="mb-3">
        Pass score <p-badge value="{{ _survey?.passScore }}%"></p-badge>
    </h6>
    <p-divider align="left" type="dashed">
        <h4>Question</h4>
    </p-divider>
    <p class="text-wrap text-primary fs-5">{{ questionIndex }}) {{ selectedQuestion?.question }}</p>
    <div
        class="row mb-2 ms-0 me-0"
        *ngIf="optionsFormArray && optionsFormArray?.controls.length > 0"
    >
        <h5 class="fw-bold">Options</h5>
    </div>
    <p-message severity="error" [text]="errorText" *ngIf="errorText" styleClass="mb-2"></p-message>
    <form
        [formGroup]="form"
        class="p-fluid"
        *ngIf="optionsFormArray && optionsFormArray?.controls.length > 0"
    >
        <div
            class="row mb-3 ms-0 me-0"
            formArrayName="options"
            *ngFor="let option of optionsFormArray?.controls; let i = index"
        >
            <ng-container [formGroupName]="i">
                <div class="col-md-12 ps-0 pe-0">
                    <div class="row radio-row ms-0 me-0">
                        <div
                            class="text-center"
                            *ngIf="
                                selectedQuestion?.type ===
                                    QUESTION_TYPES.RADIO ||
                                selectedQuestion?.type ===
                                    QUESTION_TYPES.YES_AND_NO
                            "
                            [class.col-md-1]="
                                selectedQuestion?.type === QUESTION_TYPES.RADIO
                            "
                            [class.col-md-12]="
                                selectedQuestion?.type ===
                                QUESTION_TYPES.YES_AND_NO
                            "
                            [class.field-radiobutton]="
                                selectedQuestion?.type ===
                                QUESTION_TYPES.YES_AND_NO
                            "
                        >
                            <p-radioButton
                                id="selected{{ i }}"
                                name="selected"
                                value="selected{{ i }}"
                                formControlName="selected"
                                (onClick)="optionClicked(i)"
                                inputId="selected{{ i }}"
                            ></p-radioButton>
                            <label
                                for="selected{{ i }}"
                                *ngIf="
                                    selectedQuestion?.type ===
                                    QUESTION_TYPES.YES_AND_NO
                                "
                            >
                                {{ i === 0 ? 'Yes' : 'No' }}
                            </label>
                        </div>
                        <div
                            class="col-md-1 text-center"
                            *ngIf="
                                selectedQuestion?.type ===
                                QUESTION_TYPES.MULTI_SELECT
                            "
                        >
                            <p-checkbox
                                [binary]="true"
                                formControlName="selected"
                                (onClick)="optionClicked(i)"
                            ></p-checkbox>
                        </div>
                        <div
                            class="col-md-10"
                            *ngIf="
                                selectedQuestion?.type ===
                                    QUESTION_TYPES.RADIO ||
                                selectedQuestion?.type ===
                                    QUESTION_TYPES.MULTI_SELECT
                            "
                        >
                            <p class="mb-0 text-wrap text-secondary fs-6">
                                {{ selectedQuestion?.options[i]['answer'] }}
                            </p>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <button
            pButton
            pRipple
            label="Cancel"
            icon="pi pi-times"
            class="p-button-secondary"
            (click)="actionHandler(TakeSurveyActions.CANCEL_SURVEY)"
        ></button>
        <button
            pButton
            pRipple
            label="Complete"
            icon="bi bi-circle-fill pe-1"
            class="p-button-help float-end"
            [style]="{ 'margin-left': '2.5em' }"
            (click)="actionHandler(TakeSurveyActions.COMPLETE_SURVEY)"
        ></button>
        <button
            pButton
            pRipple
            label="Next"
            icon="pi pi-angle-right"
            class="p-button-success float-end"
            [style]="{ 'margin-left': '.5em' }"
            [disabled]="questionIndex >= questions?.length"
            (click)="actionHandler(TakeSurveyActions.NEXT_QUESTION)"
        ></button>
        <button
            pButton
            pRipple
            label="Previous"
            icon="pi pi-angle-left"
            class="p-button-primary float-end"
            [style]="{ 'margin-left': '.5em' }"
            [disabled]="questionIndex <= 1"
            (click)="actionHandler(TakeSurveyActions.PREVIOUS_QUESTION)"
        ></button>
    </ng-template>
</p-card>
<p-confirmDialog #cd header="Confirmation" icon="pi pi-exclamation-triangle">
    <ng-template pTemplate="message">
        <h5 [innerHTML]="confirmationMessage"></h5>
    </ng-template>
    <ng-template pTemplate="footer">
        <button
            type="button"
            pButton
            icon="pi pi-times"
            label="No"
            (click)="cd.reject()"
        ></button>
        <button
            type="button"
            pButton
            icon="pi pi-check"
            label="Yes"
            class="p-button-danger"
            (click)="cd.accept()"
        ></button>
    </ng-template>
</p-confirmDialog>
