.login-content {
    display: flex;
    justify-content: center;
    align-self: center;
    background: var(--theme-gray);
}

p-panel {
    width: 400px;
    margin-top: 200px;
}

.login-form {
    .p-field {
        padding-bottom: 10px;

        input {
            margin-top: 10px;
        }
    }
}

.footer {
    display: flex;
    align-items: center;
    .descriptive-text {
        padding-left: 10px;
    }
}
