.login-content {
    display: flex;
    justify-content: center;
    align-self: center;
    background: var(--theme-color-primary) !important;
}

p-panel {
    width: 400px;
    margin-top: 14%;
}

.footer {
    display: flex;
    align-items: center;
    .descriptive-text {
        padding-left: 10px;
    }
}

.login-footer {
    min-height: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
    // border-bottom: 1px solid var(--theme-gray) !important;
}
