<div class="login-content" id="page-container">
    <p-panel>
        <ng-template pTemplate="header"> Login </ng-template>
        <p-message
            severity="error"
            [text]="errorText"
            *ngIf="errorText"
        ></p-message>
        <form [formGroup]="form" class="login-form p-fluid">
            <div class="p-field pb-3">
                <label for="username">Username</label>
                <input
                    id="username"
                    type="username"
                    aria-describedby="username-help"
                    formControlName="username"
                    class="mt-3"
                    [ngClass]="{
                        'ng-invalid ng-dirty':
                            form.controls['username'].dirty &&
                            form.controls['username'].hasError('required')
                    }"
                    pInputText
                    autofocus
                />
                <small
                    id="username-help"
                    class="p-error"
                    *ngIf="
                        form.controls['username'].dirty &&
                        form.controls['username'].hasError('required')
                    "
                    >Username is not available.</small
                >
            </div>
            <div class="p-field pb-3">
                <label for="password">Password</label>
                <input
                    id="password"
                    type="password"
                    aria-describedby="password-help"
                    formControlName="password"
                    class="mt-3"
                    [ngClass]="{
                        'ng-invalid ng-dirty':
                            form.controls['password'].dirty &&
                            form.controls['password'].hasError('required')
                    }"
                    pInputText
                />
                <small
                    id="password-help"
                    class="p-error"
                    *ngIf="
                        form.controls['password'].dirty &&
                        form.controls['password'].hasError('required')
                    "
                    >Password is not available.</small
                >
            </div>
            <button
                pButton
                type="button"
                label="Login"
                (click)="login()"
                [disabled]="!form.valid"
                [loading]="loading"
                class="p-button-primary"
            ></button>
        </form>
        <ng-template pTemplate="footer">
            <div class="footer">
                <p-tag
                    styleClass="p-mr-2"
                    icon="pi pi-info-circle"
                    severity="info"
                    value="Info"
                ></p-tag>
                <div class="descriptive-text">Use admin/admin as login</div>
            </div>
        </ng-template>
    </p-panel>
</div>
<div class="login-footer">
    © Copyright {{ today.getFullYear() }}. All rights reserved.
</div>
