<p-toolbar styleClass="mb-3">
    <ng-template pTemplate="left">
        <button
            pButton
            pRipple
            label="New"
            icon="pi pi-plus"
            class="p-button-success mr-2"
            (click)="addNewSurvey()"
        ></button>
        <button
            pButton
            pRipple
            label="Delete"
            icon="pi pi-trash"
            class="p-button-danger"
            (click)="deleteSelectedSurveys()"
            [disabled]="!selectedSurveys || !selectedSurveys.length"
        ></button>
    </ng-template>
</p-toolbar>
<p-table
    #dt
    [value]="surveys"
    [rows]="10"
    [paginator]="true"
    responsiveLayout="scroll"
    [(selection)]="selectedSurveys"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
    [loading]="loading"
>
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="name" style="width: 22%">
                Name <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="desc" style="width: 42%">
                Description <p-sortIcon field="desc"></p-sortIcon>
            </th>
            <th pSortableColumn="isConfigured" style="width: 11%">
                Configured <p-sortIcon field="isConfigured"></p-sortIcon>
            </th>
            <th pSortableColumn="passScore" style="width: 12%">
                Pass Score <p-sortIcon field="passScore"></p-sortIcon>
            </th>
            <th style="width: 13%"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-survey>
        <tr>
            <td>
                <p-tableCheckbox [value]="survey"></p-tableCheckbox>
            </td>
            <td>{{ survey.name }}</td>
            <td>{{ survey.desc }}</td>
            <td>
                <p-badge
                    [value]="survey.isConfigured ? 'Yes' : 'No'"
                    severity="success"
                    styleClass="configured-badge"
                ></p-badge>
            </td>
            <td>{{ survey.passScore }}</td>
            <td>
                <button
                    pButton
                    pRipple
                    icon="pi pi-list"
                    class="p-button-rounded p-button-info mr-2"
                    (click)="goToQuestions(survey)"
                ></button>
                <button
                    pButton
                    pRipple
                    icon="pi pi-pencil"
                    class="p-button-rounded p-button-success mr-2"
                    (click)="editSurvey(survey)"
                ></button>
                <button
                    pButton
                    pRipple
                    icon="pi pi-trash"
                    class="p-button-rounded p-button-warning"
                    (click)="deleteSurvey(survey)"
                ></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
            {{ getTableSummary() }}
        </div>
    </ng-template>
</p-table>

<p-dialog
    [(visible)]="surveyDialog"
    [style]="{ width: '550px' }"
    [header]="survey ? 'Update Survey' : 'Add Survey'"
    [modal]="true"
    styleClass="p-fluid"
>
    <ng-template pTemplate="content">
        <app-add-update-survey
            #addUpdateSurveyComponent
            [survey]="survey"
        ></app-add-update-survey>
    </ng-template>
    <ng-template pTemplate="footer">
        <button
            pButton
            pRipple
            label="Cancel"
            icon="pi pi-times"
            class="p-button-secondary"
            (click)="hideDialog()"
        ></button>
        <button
            pButton
            pRipple
            label="{{ survey ? 'Update' : 'Add' }}"
            icon="pi pi-check"
            class="p-button-primary"
            [disabled]="!addUpdateSurveyComponent?.form?.valid"
            (click)="saveSurvey()"
        ></button>
    </ng-template>
</p-dialog>
<p-confirmDialog #cd header="Confirmation" icon="pi pi-exclamation-triangle">
    <ng-template pTemplate="message">
        <h5 [innerHTML]="confirmationMessage"></h5>
    </ng-template>
    <ng-template pTemplate="footer">
        <button
            type="button"
            pButton
            icon="pi pi-times"
            label="No"
            (click)="cd.reject()"
        ></button>
        <button
            type="button"
            pButton
            icon="pi pi-check"
            label="Yes"
            class="p-button-danger"
            (click)="cd.accept()"
        ></button>
    </ng-template>
</p-confirmDialog>
