<p-card
    header="Survey"
    [style]="{
        width: '420px',
        height: '370px'
    }"
    styleClass="p-card-shadow"
>
    <h4 class="text-primary-app">{{ _survey?.name }}</h4>
    <!-- TODO : We need to display the survey image too -->
    <img src="./assets/images/survey-pic-mock.png" />
    <p class="text-wrap text-break">{{ _survey?.desc }}</p>
    <h6>Pass score <p-badge value="{{ _survey?.passScore }}%"></p-badge></h6>
    <ng-template pTemplate="footer">
        <button
            pButton
            pRipple
            label="Take Survey"
            icon="pi pi-check"
            class="p-button-primary"
            (click)="takeSurvey()"
        ></button>
    </ng-template>
</p-card>
