<div class="info-container">
    <h5>Pushpaka vimanam</h5>
    <h6>Application to create surveys ...</h6>
    <h6>Version: 0.0.1</h6>
    <h5 class="mt-3">About me:</h5>
    <p class="mt-1">
        I am
        <span class="fw-bold">Kumar Gandhi</span> a Web developer striving to
        write quality code. Checkout my github repos, you might find some code
        useful, I guess.
    </p>
    <a href="https://github.com/kumargandhi" class="card-link" target="_blank"
        >Github</a
    >
</div>
