<div id="page-container">
    <div class="grid mb-3">
        <div class="col-4">
            <p-card
                header="Totals"
                [style]="{
                    width: '100%',
                    height: '300px'
                }"
            >
                <div class="total-container mb-5">
                    <div class="total">
                        {{ surveys?.length }}
                    </div>
                    <div class="label">Surveys</div>
                </div>
                <div class="total-container">
                    <div class="total">
                        {{ surveys?.length }}
                    </div>
                    <div class="label">Users</div>
                </div>
            </p-card>
        </div>
        <div class="col-4">
            <p-card
                header="Totals"
                [style]="{
                    width: '100%',
                    height: '300px'
                }"
            >
                <p>Totals card</p>
            </p-card>
        </div>
        <div class="col-4">
            <p-card
                header="Totals"
                [style]="{
                    width: '100%',
                    height: '300px'
                }"
            >
                <p>Totals card</p>
            </p-card>
        </div>
    </div>
    <div class="grid">
        <div class="col-12">
            <p-card
                header="Users"
                [style]="{
                    width: '100%',
                    height: '360px'
                }"
            >
                <p>Users card</p>
            </p-card>
        </div>
    </div>
</div>
