.question-form {
    width: 100%;
}

.options-heading {
    justify-content: center;
    align-items: center;

    button {
        float: right !important;
    }
}

.radio-row {
    justify-content: center;
    align-items: center;
}
