<div class="question-form">
    <p-message
        severity="error"
        [text]="_errorText"
        *ngIf="_errorText"
    ></p-message>
    <form [formGroup]="form" class="p-fluid">
        <div class="p-field mb-3">
            <label>Type</label>
            <p-dropdown
                id="type"
                [options]="questionTypes"
                [(ngModel)]="selectedQType"
                optionLabel="label"
                formControlName="type"
            ></p-dropdown>
        </div>
        <div class="p-field mb-3">
            <label for="question">Question</label>
            <textarea
                id="question"
                name="question"
                pInputTextarea
                rows="6"
                cols="70"
                required
                formControlName="question"
                [ngClass]="{
                    'ng-invalid ng-dirty':
                        form.controls['question'].dirty &&
                        form.controls['question'].hasError('required')
                }"
            ></textarea>
            <small
                class="p-error"
                *ngIf="
                    form.controls['question'].dirty &&
                    form.controls['question'].hasError('required')
                "
                >Question is required.</small
            >
        </div>
    </form>
</div>
