<div class="question-form">
    <p-message
        severity="error"
        [text]="_errorText"
        *ngIf="_errorText"
    ></p-message>
    <form [formGroup]="form" class="p-fluid">
        <div class="p-field mb-3">
            <label>Type</label>
            <p-dropdown
                id="type"
                [options]="questionTypes"
                optionLabel="label"
                optionValue="id"
                formControlName="type"
                styleClass="p-dropdown-q-type"
            ></p-dropdown>
        </div>
        <div class="p-field mb-3">
            <label for="question">Question</label>
            <textarea
                id="question"
                name="question"
                pInputTextarea
                rows="6"
                cols="70"
                required
                formControlName="question"
                [ngClass]="{
                    'ng-invalid ng-dirty':
                        form.controls['question'].dirty &&
                        form.controls['question'].hasError('required')
                }"
            ></textarea>
            <small
                class="p-error"
                *ngIf="
                    form.controls['question'].dirty &&
                    form.controls['question'].hasError('required')
                "
                >Question is required.</small
            >
        </div>
        <div
            class="row mb-3 options-heading ms-0 me-0"
            *ngIf="optionsFormArray && optionsFormArray?.controls.length > 0"
        >
            <div class="col-md-3">
                <h6 class="fw-bold">Options</h6>
            </div>
            <div class="col-md-9">
                <button
                    pButton
                    pRipple
                    type="button"
                    icon="pi pi-plus"
                    class="p-button-rounded"
                    (click)="addOption()"
                ></button>
            </div>
        </div>
        <div
            class="row mb-3 ms-0 me-0"
            formArrayName="options"
            *ngFor="let option of optionsFormArray?.controls; let i = index"
        >
            <ng-container [formGroupName]="i">
                <div class="col-md-12 ps-0 pe-0">
                    <div class="row radio-row ms-0 me-0">
                        <div class="col-md-1 text-center" *ngIf="form?.controls?.type?.value === QUESTION_TYPES.RADIO">
                            <p-radioButton
                                id="selected{{ i }}"
                                name="selected"
                                value="selected{{ i }}"
                                formControlName="selected"
                                (onClick)="optionClicked(i)"
                            ></p-radioButton>
                        </div>
                        <div class="col-md-1 text-center" *ngIf="form?.controls?.type?.value === QUESTION_TYPES.MULTI_SELECT">
                            <p-checkbox

                                [formControl]="optionsFormArray?.controls[i]['selected']"
                                (onClick)="optionClicked(i)"
                            ></p-checkbox>
                        </div>
                        <div class="col-md-10">
                            <input
                                type="text"
                                pInputText
                                id="answer"
                                required
                                autofocus
                                formControlName="answer"
                                maxlength="255"
                                placeholder="Enter option text"
                                [ngClass]="{
                                    'ng-invalid ng-dirty':
                                        getOptionsFormGroup(i).controls[
                                            'answer'
                                        ].dirty &&
                                        getOptionsFormGroup(i).controls[
                                            'answer'
                                        ].hasError('required')
                                }"
                            />
                            <div
                                *ngIf="
                                    getOptionsFormGroup(i).controls['answer']
                                        .touched &&
                                    !getOptionsFormGroup(i).controls['answer']
                                        .valid
                                "
                                class="row text-danger mb-3"
                            >
                                <small
                                    class="p-error"
                                    *ngIf="
                                        getOptionsFormGroup(i).controls[
                                            'answer'
                                        ].errors?.required
                                    "
                                    >Question is required.</small
                                >
                            </div>
                        </div>
                        <div class="col-md-1">
                            <button
                                pButton
                                pRipple
                                type="button"
                                icon="pi pi-times"
                                class="
                                    p-button-rounded
                                    p-button-danger
                                    p-button-outlined
                                "
                                (click)="deleteOption(i)"
                                [disabled]="isOptionDeleteBtnDisabled()"
                            ></button>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </form>
</div>
