.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--theme-color-primary);
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 14px;
    color: var(--theme-gray);
    display: block;
}

.sidenav a:hover {
    color: var(--theme-gray-base);
}

.sidenav a.active {
    color: var(--theme-gray);
    font-weight: bold;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 14px;
    }
}

.sign-out {
    position: absolute;
    top: 93%;
    width: 100%;
    border-top: 1px solid var(--theme-gray) !important;
    padding-top: 10px;
    cursor: pointer;
}
